*{
    margin: 0;
    padding: 0;
}

.create-task{
    width: 36vw;
    margin-bottom: 2vw;
    padding: 24px;
}

.board{
    padding: 24px;
    width: 36vw
}

.column{
    margin-bottom: 24px;
    width: 20vw;
}

.board-column{
    padding: 24px;
    width: 90vw;
    display: flex;
    flex-direction: row;
    gap: 2vw;
}

button{
    margin-top: 8px;
}